
header {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
    background-position-y: top;
}


.dropdown-menu {
    left: 50%;
    margin-left: -80px;
    -ms-filter:
    "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9635273d, endColorstr=#9635273d)";
}


.lorem {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=2, startColorstr=#48000000, endColorstr=#48000000)";
}


.dreams {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=2, startColorstr=#48000000, endColorstr=#48000000)";
}

.first {
    -ms-filter: 
     "progid:DXImageTransform.Microsoft.gradient(startColorstr=#312539,endColorstr=#745083)"; 
}

.head_1, 
.head_2,
.head_3 {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#0e1418)";
}


.col_1, 
.col_2,
.col_3 {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#0e1418)";
}

.href_1, 
.href_2, 
.href_3 {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=0, OffY=1, Color=#0e1418)";
}

.text {
    height: 165px;
}

.third {
    display: none;
}



footer {
    height: 115px;
}

.center__half_1 {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, startColorstr=#48000000, endColorstr=#48000000)";
}


.center__half_2 {
    -ms-filter:
    "progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, startColorstr=#48000000, endColorstr=#48000000)";
}

.center {
    height: 115px;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {

    body header .container {
        min-width: 480px;
        width: auto;
        margin: 0 auto;
    }

    .wrapper_480 {
        -ms-filter:
            "progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000)";
    }

    .text {
        height: 170px;
    }

    .third {
        display: none;
    }

    .radio_slider {
        margin-top: 0px;
    }

    .center {
        height: 107px;
    }

    footer {
        height: 210px;
        background-image: url(../img/footer2.png);
    }

@media only screen and (max-width: 959px) and (min-width: 768px) {

    body header .container {
        min-width: 768px;
        width: auto;
        margin: 0 auto;
    }

    .third {
        display: block;
    }

    .wrapper_480 {
        -ms-filter:
            "progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000)";
    }

    .center {
        height: 210px;
    }

    footer {
        height: 210px;
        background-image: url(../img/footer2.png);
    }

@media only screen and (max-width: 1366px) and (min-width: 960px) {

    body header .container {
        min-width: 960px;
        width: auto;
        margin: 0 auto;
    }

    .third {
        display: block;
    }

    .wrapper_480 {
        -ms-filter:
            "progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000)";
    }

    .radio_slider {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media only screen and (min-width: 1367px) {

    body header .container {
        min-width: 1366px;
        width: auto;
        margin: 0 auto;
    }

    .third {
        display: block;
    }

    .wrapper_480 {
        -ms-filter:
            "progid:DXImageTransform.Microsoft.gradient(startColorstr=#32000000, endColorstr=#32000000)";
    }

}